.cards ul {display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

content ul {list-style: none;}

.item img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }